* {
  margin: 15px;
  padding: 15px;
  box-sizing: border-box;
 
}

.padre {
  display: flex;
  flex-flow:column nowrap;

}

      .header {
        background: #000;
        display: flex;
        flex-flow:column wrap;
        width: 350px;
        
      }
          .menu {
            background: #2d4059;
            display: flex;
            flex-flow:column nowrap;
           
          }

              .logo {
                background: #ea5455;
                height:20px;
              }

              .nav {
                background: #ea5455;
                height:20px;
              }

              .social {
                background: #ea5455;
                height:20px;
              }


          .texto-principal{
            background: #f07b3f;
          }
            h1{
              background: #ffd460;

            }
          

      .section {
        background: #000;
        display: flex;
        flex-flow:column;
        width: 350px;
      }

         .articulos{
           background: #3b3b53;
           flex:2 1 auto;
           display: flex;
           flex-flow: column wrap;
         }

            .article{
              background: #1f6cb0;
              flex: 1 1 40%;
            }

            .navegacion{
              background: #6e90ad;
              flex: 1 1 100%;
            }

          .aside{
            background: #f73f52;
            flex:1 1 auto;
          }

              .publicidad{
                background: #ffea85;

              }
      .footer {
        background: #000;
        width: 350px;
      }

          .pie{
            background: #e6af2e;
          }
