* {
  margin: 3px;
  padding: 0px;
  box-sizing: border-box;
  
}

body{

  font-family: 'Montserrat', sans-serif;
  
}

a{
  color: #808080;
  text-decoration: none;
  
}

a:hover{
  color:#db5f8e;
}

.padre {
  display: flex;
  flex-flow:column nowrap;

}


      .header {
        background: url(/img/cabecera.jpg);
        background-position: center;
        background-size: 110%;
        display: flex;
        flex-flow:column nowrap;
        
      }

          .menu {
            
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
           
          }

              .logo {
                
                flex:1 1 auto;
              }

              .nav {
                
                flex:5 1 auto;
                list-style: none;
                display:inline-block;
                font: 12px;
                padding: 0 10px;
                
              }

              .social {
               
                flex:1 1 auto;
                text-decoration: none;  
                             
              }

          .texto-principal{
           
            height: 120px;
            background-color: #58585823;
            filter:alpha(opacity=10);
            -moz-opacity:0.5;
            opacity: 0.5;
            padding: 5px;
            background-position: center;
            margin: 20px;
           
          }
           .texto-principal h1{
              
              font-family: 'Times New Roman', Times, serif;
              font-size: 40px;
              font-weight: 300px;
              text-align: center;
              line-height: 110px;
              background-color: transparent;
              color:#f73f52;
              
            }
          

      .section {
        background: url(/img/cabecera.jpg);
        display: flex;
        flex-flow:row;
        background-position: center;
      }

         .articulos{
           background: #f7f7f7;
           flex:2 1 auto;
           display: flex;
           flex-flow: row wrap;
           
         }

         .articulos p{
          padding-bottom: 20px;
          padding-top: 5px ;
          margin-top: 5px;
          color:#3d3d3d;
          
         }

            .article{
             color:rgb(255, 249, 249);
             font-size: 13px;
             padding: 5px;
             flex: 1 1 45%;
             background: #e0e0e0;
            }

            .article img{
              width: 99%;
              
            }

            .article a{
              margin: 3px;
              color: rgb(102, 102, 102);
              font-size:13px;
              padding-bottom: 10px;
              margin-bottom: 10px;
             
            }

            .article a:hover{
              color:rgb(255, 66, 98);
            }

            .article h3{
              color: #fff;
              font-size: 13px;
              margin-left: 10px;
              margin-bottom: 0px;
              margin-top: -9%;
            }

            .article h2{
              position: relative;
              background: rgb(255, 64, 96);
              font-size: 25px;
              text-transform: uppercase;
              padding: 3px 10px 0px 5px; /*arriba, derecha, abajo y izquierda*/
              color:#fff;
                            
            }

            .navegacion{
              background: #444444a8;
              flex: 1 1 100%;
              height: 20px;
              
            }

            .navegacion a{
              color:#ffffff;
              font-size: 11px;
              text-transform: uppercase;
              letter-spacing: 2px;
              margin-left: 10px;
              
            }
            .navegacion a:hover{
              color:black;

            }

          .aside{
            
            flex:1 1 auto;
            margin: 10px 5px 10px 0;
          }

          .aside img{
            width: 95%;
          }

          .aside h4{
            background: #000;
            padding:10px;
            color: #fff;
            text-transform: uppercase;
          }

              .publicidad{
                /*background: #ffea85;*/

              }
      .footer {
        background: rgba(221, 221, 221, 0.753);
       
      }
          .pie a{
            color:#545557;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;;
          }

          @media all and (max-width: 800px){

            .section{
              flex-direction: column;
            
            }
            .menu{
              flex-direction: column;
            height: auto;
            }
            
          }

          @media all and (max-width: 600px){

           .articulos{
             flex-direction: column;
           }
          }

          @media all and (max-width: 400){

            .aside{
              flex-direction: column;
            }
            
           }